:root {
  font-family: 'Press Start 2P', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: rgba(255, 255, 255, 0.87);
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --bg-color: black;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: bisque;
  font-family: 'Press Start 2P', Arial;
  font-size: 1.6rem;
}

canvas {
  display: none;
}

#app {
  background-color: var(--bg-color);
  height: 100vh;
  width: 50vh;
  margin: 0 auto;
}

.menu {
  width: 100%;
  height: 100%;
  background: black;
  margin: 0 auto;
}

.menu__list {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  list-style: none;
}

.menu__item {
  font-size: 2.5rem;
  border-bottom: 2px solid transparent;
  transition: border .2s;
}

.menu__item:hover {
  border-bottom: 2px solid white;
  cursor: pointer;
}

.endgame {
  width: 100%;
  height: 100%;
  background: black;
  margin: 0 auto;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  cursor: pointer;
}
